.AccountView {  // Register/Login/ResetPassword
  .head.content {
    a {
      font-size: 13px;
      height: 2.2em;
    }
  }

  .feedback.content {
    font-size: 13px;

    b {
      display: block;
    }
  }

  .action  {
    font-size: 13px;
    margin-top: 10px;
    display: block;
  }

  button[type=submit] {
    margin-top: 30px;
  }
}