<!--style-------------------------------------------------style----------------------------------------------style----->
<style src="./AccountView.less" lang="less" rel="stylesheet/less"></style>

<!--template----------------------------------------------template-------------------------------------------template-->
<template>
<div class="ConfirmEmailView AccountView ui card">
  <div class="head content">
    <a @click="reSignUp" class="ui right floated icon compact basic button">
      <i class="icon left arrow"></i>
    </a>
    <span class="header">{{$t('confirm.header')}}</span>
  </div>

  <div class="content">
    <div class="ui message small">
      <div class="content">
        <div class="header">{{$t('confirm.message.header')}}</div>
        <p v-html="$t('confirm.message.body', {email:email})"></p>
        <email-resender @do="resend"></email-resender>
      </div>
    </div>

    <form class="ui form" :class="{loading:submitting}" @submit.prevent="onSubmit">
      <text-field
          ref="code"
          v-model="code"
          type="text"
          :label="$t('confirm.code.label')"
          :placeholder="$t('confirm.code.placeholder')"
          :error="errors.code"
          @keydown="errors.code=null"></text-field>

      <button class="fluid ui blue right labeled icon button" type="submit">
        <i class="right check icon"></i>
        {{$t('confirm.submit_button')}}
      </button>
      <span class="action">
        {{$t('confirm.wrong_email')}}
        <a @click="reSignUp">{{$t('confirm.re_sign_up')}}</a>
      </span>
    </form>
  </div>
</div>
</template>

<!--script------------------------------------------------script---------------------------------------------script---->
<script type="text/babel">
import settings from '../../settings'
import validator from '../../modules/validator'
import User from '../../modules/User'

import TextField from '../common/TextField.vue'
import EmailResender from './EmailResender.vue'

import errors from '../../modules/errors';
import ProxyManager from '../../modules/ProxyManager'

let debug = require('debug')('ConfirmEmailView');

export default {
  components: {TextField, EmailResender},
  data() {
    return {
      email: '',
      code: '',
      errors: {
        code: null
      },
      submitting: false
    }
  },

  methods: {
    resend(sender) {
      User.resendEmailConfirmation()
          .then(ret => {
            if (ret.error) {
              sender.fail();
            } else {
              sender.done();
            }
          })
    },

    reSignUp() {
      settings.step.restore();
      this.$router.replace('/register');
    },

    async onSubmit() {
      this.errors.code = validator.checkConfirmCodeError(this.code.trim());
      if (this.errors.code) return this.$refs.code.focus();

      this.submitting = true;
      let ret = await ProxyManager.activateFor(User.confirmEmail(this.code.trim()))
      if (ret.error && ret.error !== errors.ALREADY_CONFIRMED) {
        this.submitting = false;
        switch (ret.error) {
          case errors.INVALID_CONFIRMATION_CODE:
          default:
            this.errors.code = ret.message;
            this.$refs.code.focus();
        }
      } else {
        ret = await ProxyManager.activateFor(User.pullProfile())
        this.submitting = false;
        if (ret.error) {
          this.errors.code = ret.message || ret.error;
        } else {
          settings.step.restore();
          this.$router.replace('/');
        }
      }
    }
  },

  created() {
    this.email = User.profilePV.get().email;
  },

  mounted() {
    setTimeout(() => {
      this.$refs.code.focus();
    }, 100);
    settings.step.set(settings.STEP_CONFIRM);
  }
}
</script>