<!--style-------------------------------------------------style----------------------------------------------style----->
<style lang="less" rel="stylesheet/less">

</style>

<!--template----------------------------------------------template-------------------------------------------template-->
<template>
<div class="EmailResender">
  <template v-if="step==='todo'">
  <a @click="clickTodo">
    <i class="icon mail"></i>
    {{$t('resender.resend')}}
  </a>
  </template>

  <template v-if="step==='doing'">
  <i class="icon refresh loading"></i>
  {{$t('resender.sending')}}
  </template>

  <template v-if="step==='done'">
  <i class="icon check green"></i>
  {{$t('resender.done')}}
  </template>

  <template v-if="step==='fail'">
  <i class="warning sign icon red"></i>
  {{$t('resender.fail')}}
  </template>
</div>
</template>

<!--script------------------------------------------------script---------------------------------------------script---->
<script type="text/babel">
export default {
  data () {
    return {
      step: 'todo', // todo_ -> doing -> fail | done -> todo_,
      // @do(sender)
    }
  },

  methods: {
    clickTodo() {
      this.step = 'doing';
      this.$emit('do', this);
    },

    done() {
      this.step = 'done';
      setTimeout(() => {
        this.step = 'todo';
      }, 3000);
    },

    fail() {
      this.step = 'fail';
      setTimeout(() => {
        this.step = 'todo';
      }, 3000);
    }
  }
}
</script>