<!--style-------------------------------------------------style----------------------------------------------style----->
<style src="./AccountView.less" lang="less" rel="stylesheet/less"></style>

<!--template----------------------------------------------template-------------------------------------------template-->
<template>
<div class="LoginView AccountView ui card">
  <div class="head content">
    <a @click="$router.replace('/register')" class="ui right floated icon compact green button">
      {{$t('login.register_link')}}
    </a>

    <span class="header">{{$t('login.header')}}</span>
  </div>

  <div class="content">
    <div v-if="$route.query.message" class="ui small success message">
      {{$route.query.message}}
    </div>

    <form class="ui form" :class="{loading:submitting}" @submit.prevent="onSubmit">
      <text-field
          ref="email"
          v-model="email"
          type="text"
          :label="$t('login.email.label')"
          :placeholder="$t('login.email.placeholder')"
          :error="errors.email"
          @keydown="errors.email=null"
          @change="onEmailChange"></text-field>

      <text-field
          ref="password"
          v-model="password"
          type="password"
          :label="$t('login.password.label')"
          :placeholder="$t('login.password.placeholder')"
          :error="errors.password"
          @keydown="errors.password=null"
          @change="onPasswordChange"></text-field>

      <button class="fluid blue ui right labeled icon button" type="submit">
        <i class="right arrow icon"></i>
        {{$t('login.submit_button')}}
      </button>

      <a class="action right floated" @click="$router.push('/reset-password')">
        {{$t('login.reset_link')}}
      </a>
      <!--a class="action" @click="$router.go('register')">
        <i class="icon add"></i>
        {{$t('login.register_link')}}
      </a-->
    </form>
  </div>
</div>
</template>

<!--script------------------------------------------------script---------------------------------------------script---->
<script type="text/babel">
import {hasAnyValue} from '../../utils'
import validator from '../../modules/validator'
import ProxyManager from '../../modules/ProxyManager'
import errors from '../../modules/errors'
import User from '../../modules/User'
import TextField from '../common/TextField.vue'

let debug = require('debug')('LoginView');

export default {
  components: {TextField},
  data() {
    return {
      email: "",
      password: "",
      errors: {
        password: null,
        email: null
      },
      submitting: false
    }
  },
  methods: {
    async onSubmit() {
      this.errors.password = validator.checkPasswordError(this.password.trim());
      this.errors.password && this.$refs.password.focus();

      this.errors.email = validator.checkEmailError(this.email.trim());
      this.errors.email && this.$refs.email.focus();

      if (hasAnyValue(this.errors)) return null;

      this.submitting = true;
      let ret = await ProxyManager.activateFor(User.login(this.email.trim(), this.password.trim()))
      this.submitting = false;

      if (ret.error) {
        switch (ret.error) {
          case errors.INVALID_PASSWORD:
            this.errors.password = ret.message;
            this.$refs.password.focus();
            break;

          case errors.EMAIL_NOT_FOUND:
            this.errors.email = ret.message;
            this.$refs.email.focus();
            break;

          default:
            this.errors.email = ret.message;
        }

      } else {
        this.$router.replace('/');
      }
    },

    onEmailChange: function () {
      this.errors.email = validator.checkEmailError(this.email.trim());
    },

    onPasswordChange: function () {
      this.errors.password = validator.checkPasswordError(this.password.trim());
    },
  },
  mounted() {
    setTimeout(() => {
      this.$refs.email.focus();
    }, 300);
  }
}
</script>