<!--style-------------------------------------------------style----------------------------------------------style----->
<style src="./AccountView.less" lang="less" rel="stylesheet/less"></style>

<!--template----------------------------------------------template-------------------------------------------template-->
<template>
<div class="RegisterView AccountView ui card">
  <div class="head content">
    <a @click="$router.replace('/login')" class="ui right floated icon compact blue button">
      {{$t('register.login_link')}}
    </a>

    <span class="header">{{$t('register.header')}}</span>
  </div>

  <div class="content">
    <div class="ui small blue message" v-html="$t('register.message')">
    </div>

    <form class="ui form" :class="{loading:submitting}" @submit.prevent="onSubmit">
      <text-field
          ref="email"
          :label="$t('register.email.label')"
          type="text"
          :placeholder="$t('register.email.placeholder')"
          v-model="email"
          :error="errors.email"
          @change="onEmailChange"
          @keydown="errors.email=null"></text-field>

      <text-field
          ref="password"
          :label="$t('register.password.label')"
          type="password"
          :placeholder="$t('register.password.placeholder')"
          v-model="password"
          :error="errors.password"
          @change="onPasswordChange"
          @keydown="errors.password=null"></text-field>

      <button class="fluid green ui right labeled icon button" type="submit">
        <i class="plus icon"></i>
        {{$t('register.submit_button')}}
      </button>


    </form>
  </div>
</div>
</template>

<!--script------------------------------------------------script---------------------------------------------script---->
<script type="text/babel">
import {hasAnyValue} from '../../utils'
import validator from '../../modules/validator'
import User from '../../modules/User'
import ProxyManager from '../../modules/ProxyManager'

import UserMixin from '../../mixins/UserMixin'
import TextField from '../common/TextField.vue'

let debug = require('debug')('RegisterView');

export default {
  mixins: [UserMixin],
  components: {TextField},

  data() {
    return {
      profile: {},
      email: "",
      password: "",
      errors: {
        password: null,
        email: null
      },
      submitting: false
    }
  },

  methods: {
    async onSubmit() {
      this.errors.password = validator.checkPasswordError(this.password);
      this.errors.password && this.$refs.password.focus();

      this.errors.email = validator.checkEmailError(this.email);
      this.errors.email && this.$refs.email.focus();

      if (hasAnyValue(this.errors)) return null;

      this.submitting = true;
      let ret = await ProxyManager.activateFor(User.register(this.email, this.password))
      this.submitting = false;

      if (ret.error) {
        this.errors.email = ret.message;
        this.$refs.email.focus();
      } else {
        this.$router.replace('/');
      }
    },

    onEmailChange() {
      this.errors.email = validator.checkEmailError(this.email);
    },

    onPasswordChange() {
      this.errors.password = validator.checkPasswordError(this.password);
    }
  },

  beforeCreate() {
    this.profile = User.profilePV.get();
    debug('beforeCompile', User.profilePV.get(), this.isGuest, this.inService);
  },

  mounted() {
    setTimeout(() => {
      this.$refs.email.focus();
    }, 300);
  }
}
</script>