<!--style-------------------------------------------------style----------------------------------------------style----->
<style src="./AccountView.less" lang="less" rel="stylesheet/less"></style>

<!--template----------------------------------------------template-------------------------------------------template-->
<template>
<div class="ResetPasswordView AccountView ui card">
  <div class="head content">
    <a @click="back" class="ui right floated icon compact basic button">
      <i class="icon left arrow"></i>
    </a>
    <span class="header">{{$t('reset.header')}}</span>
  </div>

  <div v-if="step===1" class="content">
    <form class="ui form" :class="{loading:submitting}" @submit.prevent="onSubmit1">
      <text-field
          ref="email"
          v-model="email"
          type="text"
          :label="$t('reset.email.label')"
          :placeholder="$t('reset.email.placeholder')"
          :error="errors.email"
          @keydown="errors.email=null"></text-field>

      <button class="fluid ui blue right labeled icon button" type="submit">
        <i class="right mail icon"></i>
        {{$t('reset.send_button')}}
      </button>
    </form>
  </div>

  <div v-if="step===2" class="content">
    <div class="ui small success message">
      <span v-html="$t('reset.sent_message', {email:email})"></span>
      <email-resender @do="resend"></email-resender>
    </div>

    <form class="ui form" :class={loading:submitting} @submit.prevent="onSubmit2">
      <text-field
          ref="code"
          type="text"
          v-model="code"
          :label="$t('reset.code.label')"
          :placeholder="$t('reset.code.placeholder')"
          :error="errors.code"
          @keydown="errors.code=null"></text-field>

      <text-field
          ref="password"
          v-model="password"
          type="password"
          :label="$t('reset.password.label')"
          :placeholder="$t('reset.password.placeholder')"
          :error="errors.password"
          @keydown="errors.password=null"></text-field>

      <button class="fluid ui blue right labeled icon button" type="submit">
        <i class="check icon"></i>
        {{$t('reset.confirm_button')}}
      </button>
    </form>
  </div>
</div>
</template>

<!--script------------------------------------------------script---------------------------------------------script---->
<script type="text/babel">
import settings from '../../settings'
import validator from '../../modules/validator'
import WebAPI from "../../modules/WebAPI"
import User from '../../modules/User'

import TextField from '../common/TextField.vue'
import EmailResender from './EmailResender.vue'

import errors from '../../modules/errors';

let debug = require('debug')('ResetPasswordView');

export default {
  components: {TextField, EmailResender},
  data() {
    return {
      step: 1,
      email: '',
      code: '',
      password: '',
      errors: {
        email: null,
        code: null,
        password: null
      },
      submitting: false
    }
  },

  methods: {
    back() {
      settings.resetEmail.restore();
      settings.step.restore();
      this.$router.replace('/login')
    },

    resend(sender) {
      WebAPI.requestPasswordReset(this.email)
            .then(ret => {
              if (ret.error) {
                sender.fail();
              } else {
                sender.done();
              }
            })
    },

    onSubmit1() {
      this.errors.email = validator.checkEmailError(this.email.trim());
      if (this.errors.email) return this.$refs.email.focus();

      this.submitting = true;
      WebAPI.requestPasswordReset(this.email.trim())
            .then(ret => {
              if (ret.error) {
                // ERROR_EMAIL_NOT_FOUND
                this.errors.email = ret.message;
                this.$refs.email.focus();
              } else {
                settings.step.set(settings.STEP_RESET);
                settings.resetEmail.set(this.email);
                this.step = 2;
              }

              this.submitting = false;
            });
    },

    onSubmit2() {
      this.errors.code = validator.checkResetCodeError(this.code.trim());
      this.errors.password = validator.checkPasswordError(this.password.trim());
      if (this.errors.code) return this.$refs.code.focus();
      if (this.errors.password) return this.$refs.password.focus();

      this.submitting = true;
      WebAPI.resetPassword(this.email.trim(), this.code.trim(), this.password.trim())
            .then(ret => {
              if (ret.error) {
                switch (ret.error) {
                  case errors.INVALID_RESET_CODE:
                  case errors.RESET_CODE_EXPIRED:
                  default:
                    this.errors.code = ret.message;
                    this.$refs.code.focus();
                }
              } else {
                settings.resetEmail.restore();
                settings.step.restore();
                this.$router.replace({path: '/login', query: {message: this.$t('reset.success_message')}});
              }

              this.submitting = false;
            })
    }
  },

  beforeMount() {
    this.step = parseInt(this.$route.query.step) || 1;
    this.email = this.$route.query.email || '';
  },

  mounted() {
    setTimeout(() => {
      this.$refs.email && this.$refs.email.focus();
    }, 100);
  }
}
</script>