<!--style-------------------------------------------------style----------------------------------------------style----->
<style lang="less" rel="stylesheet/less">
.BuyPage {
  padding: 30px 20px 20px 20px;

  .ui.header {
    font-weight: normal;
    text-align: center;

    small {
      display: block;
      font-size: 0.7em;
    }
  }

  .features {
    padding: 20px 0 10px 0;

    p {
      text-align: center;
      font-size: 1.1em;
      margin-bottom: 20px;
    }
  }

  .ui.form {
    .button {
      font-weight: normal;
      font-size: 1.2em;
      line-height: 1.5em;
    }
  }

  a.paypal {
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    color: #aaa;
    text-decoration: underline;
    i {
      text-decoration: none;
    }

    &:hover {
      text-decoration: none;
    }
  }

  a.go-back {
    display: inline-block;
    float: right;
    margin-top: 10px;
  }
}
</style>

<!--template----------------------------------------------template-------------------------------------------template-->
<template>
<div class="BuyPage">
  <h2 class="ui blue header">
    {{$t('buy.heading')}}
    <small>{{$t('buy.sub_heading')}}</small>
  </h2>


  <div class="features">
    <p>
      <i class="check icon"></i>
      <span v-html="$t('buy.more_locations', {count:locationCount})"></span>
    </p>
    <p>
      <i class="check icon"></i>
      {{$t('buy.high_speed')}}
    </p>
    <p>
      <i class="check icon"></i>
      {{$t('buy.money_back')}}
    </p>
    <p>
      <i class="check icon"></i>
      {{$t('buy.cancel_anytime')}}
    </p>
  </div>

  <div class="ui divider"></div>

  <div class="ui form">
    <button @click="clickBuyBasic()" class="ui left labeled icon button blue fluid huge">
      <i class="paypal icon"></i>
      <span>
        {{$t('buy.buy_basic', {'price': price})}}
      </span>
    </button>
  </div>

  <a class="paypal" @click="openAndroidPayTutorial">
    <i class="icon android"></i>
    {{$t('buy.pay_with_android')}}
  </a>

  <a href="#" @click.natvie="$router.go(-1)" class="go-back">
    <i class="icon angle double left"></i>
    {{$t('buy.go_back')}}
  </a>
  <!--todo-->

  <div style="clear: both"></div>
</div>
</template>

<!--script------------------------------------------------script---------------------------------------------script---->
<script type="text/babel">
import 'semantic-ui-css/components/checkbox.min';
import WSAPI from '../../modules/WSAPI.js';
import User from '../../modules/User';
import ProxyManager from '../../modules/ProxyManager';
import * as utils from '../../utils';
import settings from '../../settings.js'

export default {
  data () {
    return {}
  },

  computed: {
    locationCount() {
      return ProxyManager.proxyList.get().length;
    },

    price() {
      return User.price()
    },
  },

  methods: {
    clickBuyBasic() {
      User.openPayPage();
    },

    openStoreUrl() {
      setTimeout(() => {
        utils.openUrl(settings.PLAY_STORE_URL)
      }, 500)
    },

    openAndroidPayTutorial() {
      utils.openUrl("http://justproxyvpn.blogspot.com/2017/01/buy-chrome-extension-membership-via.html")
    }
  },

  mounted() {
    $('.ui.checkbox').checkbox();
    WSAPI.open()

    setTimeout(() => {
//      ga('send', 'pageview', '/crx/popup/buy/')
    }, 1000)
  }
}
</script>