<!--style-------------------------------------------------style----------------------------------------------style----->
<style lang="less" rel="stylesheet/less">

</style>

<!--template----------------------------------------------template-------------------------------------------template-->
<template>
<div class="Modal ui modal">
  <slot></slot>
</div>
</template>

<!--script------------------------------------------------script---------------------------------------------script---->
<script type="text/babel">
import 'semantic-ui-css/components/dimmer.min'
import 'semantic-ui-css/components/modal.min'

export default {
  props: {
    closeOnAction: Boolean,
    // @approve
    // @deny
  },
  data () {
    return {}
  },
  methods: {
    show() {
      $(this.$el).modal('show')
    },
    hide() {
      $(this.$el).modal('hide')
    }
  },
  mounted() {
    $(this.$el).modal({
      onApprove: () => {
        this.$emit('approve')
        return this.closeOnAction;
      },
      onDeny: () => {
        this.$emit('deny')
        return this.closeOnAction;
      }
    })
  }
}
</script>