<!--style-------------------------------------------------style----------------------------------------------style----->
<style lang="less" rel="stylesheet/less">
.TextField {
  position: relative;

  label {
    display: inline-block;
  }
  .ui.pointing.basic.label {
    display: none;
    float: right;
    margin-bottom: -5px;
    margin-top: -8px;
  }
  &.error.field > .ui.pointing.basic.label {
    display: block;
  }
}
</style>

<!--template----------------------------------------------template-------------------------------------------template-->
<template>
<div class="TextField field" :class="{error:error}">
  <div class="ui pointing below red basic label">
    {{error}}
  </div>
  <label>{{label}}</label>
  <input ref="input"
         v-bind:value="value"
         v-on:input="$emit('input', $event.target.value)"
         :type="type"
         :placeholder="placeholder">
</div>
</template>

<!--script------------------------------------------------script---------------------------------------------script---->
<script type="text/babel">
export default {
  // v-model=value
  props: {
    label: String,
    type: String,
    value: String,
    placeholder: String,
    error: String
  },
  methods: {
    focus(select) {
      this.$refs.input.focus();
      select && this.$refs.input.select();
    }
  }
}
</script>