<!--style-------------------------------------------------style----------------------------------------------style----->
<style lang="less" rel="stylesheet/less">
.UiCheckbox.ui.checkbox.toggle {
  label:before {
    font-size: 0.8rem;
    color: #000;
    line-height: 1.5rem;
    content: 'off';
    text-align: right;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
  &.checked label:before {
    color: white;
    content: 'on';
    text-align: left;
  }
}
</style>

<!--template----------------------------------------------template-------------------------------------------template-->
<template>
<div class="UiCheckbox ui checkbox" :class="classes" v-cloak>
  <input type="checkbox" v-model="checked" tabindex="0" class="hidden" @change.stop>
  <label>{{label}}</label>
</div>
</template>

<!--script------------------------------------------------script---------------------------------------------script---->
<script type="text/babel">
import 'semantic-ui-css/components/checkbox.js'

export default {
  props: {
    checked: Boolean,
    type: String,
    label: String,
    readOnly: Boolean,
    disabled: Boolean,
    fitted: Boolean
    // @change: checked
  },
  data() {
    return {}
  },
  computed: {
    classes: function () {
      return {
        [this.type]: true,
        'checked': this.checked,
        'read-only': this.readOnly,
        'disabled': this.disabled,
        'fitted': this.fitted
      }
    }
  },
  mounted() {
    $(this.$el).checkbox({
      onChange: () => {
        this.$emit('change', this.checked)
      }
    })
  }
}
</script>