<!--style-------------------------------------------------style----------------------------------------------style----->
<style lang="less" rel="stylesheet/less" scoped>
.ConflictsPanel {
  .ui.error.message {
    p {
      font-size: 13px;
    }
  }

  .ui.list {
    .item {
      cursor: pointer;
      color: #00719b;
      line-height: 2em;
      vertical-align: middle;
      padding: 3px 5px;

      &:hover {
        background-color: #f5f5f5;
      }

      .ui.image {
        width: 16px;
        height: auto;
      }
    }
  }
}
</style>

<!--template----------------------------------------------template-------------------------------------------template-->
<template>
<div class="ConflictsPanel">
  <div class="ui attached error message">
    <p>{{$t('conflict.found')}}</p>
  </div>

  <div class="ui attached segment">
    <div class="ui middle aligned divided list">
      <div v-for="ext in conflicts" class="item" @click="clickExtension(ext)">
        <img class="ui mini image" :src="ext.iconUrl">
        <div class="content">{{ext.name}}</div>
      </div>
    </div>

    <button class="fluid ui mini basic red button" @click="clickResolve">
      {{$t('conflict.resolve')}}
    </button>
  </div>
</div>
</template>

<!--script------------------------------------------------script---------------------------------------------script---->
<script type="text/babel">

import ConflictsManager from '../../modules/ConflictManager.js'

export default {
  props: {
    conflicts: Array
  },
  data() {
    return {}
  },

  methods: {
    clickExtension(ext) {
      chrome.tabs.create({url: `chrome://extensions/?id=${ext.id}`})
    },

    clickResolve() {
      ConflictsManager.resolve()
    }
  },
}
</script>