<!--style-------------------------------------------------style----------------------------------------------style----->
<style lang="css" rel="stylesheet" src="hint.css/hint.css"></style>
<style lang="less" rel="stylesheet/less">
.LocationDropdown.ui.dropdown {
  .menu {
    max-height: 14rem;
  }

  .dropdown.icon {
    padding-top: 12px;
  }

  > small, .menu .item small {
    float: right;
  }
  .SpeedIndicator {
    float: right;
    margin-right: -10px;

    span.speed-icon {
      line-height: 1.4em;
      float: right;
      margin-right: -2px;
    }
    small {
      color: #aaa;
      float: right;
      margin-right: 5px;
    }

    .bar {
      display: inline-block;
      width: 2px;
      height: 8px;
      background-color: red;
      margin-top: 4px;
      margin-right: 1px;
      border-radius: 2px;

      &.green {
        background-color: #21BA45;
      }
      &.yellow {
        background-color: #FBBD08;
      }
      &.orange {
        background-color: #F2711C;
      }
      &.red {
        background-color: #DB2828;
      }
      &.grey {
        background-color: #ddd;
      }
    }
    .ui.label {
      margin-top: 2px;
      transform: scale(0.7, 0.7);
    }
  }
}
</style>

<!--template----------------------------------------------template-------------------------------------------template-->
<template>
<div class="LocationDropdown ui fluid selection dropdown" :class="disabled?'disabled':''">
  <input type="hidden" name="country" @change.stop>
  <i class="dropdown icon"></i>

  <div class="text">
    <i class="flag" :class="(value && value.code) | lowercase"></i>
    {{value && value.name}}
  </div>
  <status-indicator :speed="value && value.speed"></status-indicator>

  <div class="menu">
    <div v-for="location in locations"
         class="item"
         :class="{disabled:location.speed === -1}"
         :data-value="location.id"
         @click="onClick(location)">
      <i class="flag" :class="location.code | lowercase"></i>
      {{location.name}}
      <status-indicator :speed="location.speed" :type="location.type" :in-service="inService"></status-indicator>
    </div>
  </div>

</div>
</template>

<!--script------------------------------------------------script---------------------------------------------script---->
<script type="text/babel">
import Vue from 'vue'

import 'semantic-ui-css/components/transition.min.js'
import 'semantic-ui-css/components/dropdown.min.js'

let StatusIndicator = Vue.extend({
  template: `
<span class="SpeedIndicator">
  <small v-if="speed==-1" style="color:#db2828;">{{$t('location.blocked')}}</small>
  <small v-if="speed==0">{{$t('location.checking')}}</small>

  <template v-if="speed > 0">
    <span class="speed-icon hint--left" :data-hint="latency" >
      <span class="bar" :class="x" v-for="x in barClasses" track-by="$index"></span>
    </span>
  </template>

</span>`,
  props: {
    speed: Number,
    type: String,
    inService: Boolean,
  },
  data: () => {
    return {}
  },
  computed: {
    barClasses() {
      if (this.speed < 0) {
        return [];
      } else if (this.speed === 0) {
        return ['grey', 'grey', 'grey', 'grey']
      } else if (this.speed < 200) {
        return ['green', 'green', 'green', 'green']
      } else if (this.speed < 500) {
        return ['grey', 'yellow', 'yellow', 'yellow']
      } else if (this.speed < 1500) {
        return ['grey', 'grey', 'orange', 'orange']
      } else {
        return ['grey', 'grey', 'grey', 'red']
      }
    },
    latency() {
      if (this.speed > 0) {
        return `${parseInt(this.speed)}ms`
      } else {
        return '?ms'
      }
    }
  }
})

export default {
  components: {StatusIndicator},

  props: {
    locations: Array,
    value: Object,
    disabled: Boolean,
    inService: Boolean,
    // @change: newLoc, oldLoc
  },

  filters: {
    lowercase(s) {
      return s && s.toLowerCase()
    }
  },

  data() {
    return {}
  },

  methods: {
    onClick(location) {
    }
  },

  mounted() {
    $(this.$el).dropdown({
      action: 'hide',

      onChange: id => {
        let newLocation = this.locations.filter((item) => item.id === id)[0];
        this.$emit('input', newLocation);
      }
    })
  }
}
</script>