<!--style-------------------------------------------------style----------------------------------------------style----->
<style lang="less" rel="stylesheet/less">
.NewsPanel.content {
  padding: 20px;

  a.close {
    margin: -5px -10px 0 0;
  }
  .header {
    font-size: 14px !important;
  }
  .description {
    font-size: 12px;;
  }
  .buttons {
    margin-top: 10px !important;
  }
}
</style>

<!--template----------------------------------------------template-------------------------------------------template-->
<template>
<div class="NewsPanel content">
  <!--<a class="close right floated" @click="onDeny">-->
    <!--<i class="close icon"></i>-->
  <!--</a>-->

  <div class="header">
    {{ $t('news.android.title') }}
  </div>
  <div class="buttons">
    <a class="ui button mini blue" @click="$emit('approve')">
      {{ $t('news.android.approve') }}
    </a>
    <a class="ui button mini" @click="$emit('deny')">
      {{ $t('news.android.deny') }}
    </a>
  </div>
</div>
</template>

<!--script------------------------------------------------script---------------------------------------------script---->
<script type="text/babel">

export default {
  props: {
    // @approve
    // @deny
  },
  data () {
    return {}
  }
}
</script>