<!--style-------------------------------------------------style----------------------------------------------style----->
<style lang="css" rel="stylesheet" src="hint.css/hint.css"></style>
<style lang="less" rel="stylesheet/less">
.ui.modal {
  padding-top: 30px;
  .header {
    text-align: center;
  }
  .description {
    text-align: center;
  }
}

.ProfileBar {
  .user {
    .account {
      display: inline-block;
      overflow: hidden;
      vertical-align: text-top;
      margin-top: -1px;
      margin-right: -100%;

      &.ui.button {
        font-weight: normal;
        margin: -4px 0;
        padding: 0.5em 1em;
        border-radius: 3px;
      }
    }
    a.upgrade {
      font-size: 12px;
      margin-right: 10px;
      margin-top: 1px;
      background-color: white;
      z-index: 100;
      position: relative;
      padding-left: 10px;
    }
    span.due-time {
      font-size: 12px;
      color: #888;
      i {
        margin-right: 0;
      }
    }
  }

  a.ui.dropdown {
    margin-right: -2px;
    margin-left: 10px;
    .menu {
      left: auto;
      right: 0;
    }
  }
}
</style>

<!--template----------------------------------------------template-------------------------------------------template-->
<template>
<div class="ProfileBar content">
  <div class="user">
    <a class="ui right floated floating dropdown">
      <i class="icon sidebar"></i>
      <div class="menu">

        <div class="item" @click.prevent="getMoreApp">
          {{$t('service.profile.dropdown.more_app')}}
        </div>

        <div class="item" @click.prevent="$refs.supportModal.show()">
          {{$t('service.profile.dropdown.support')}}
        </div>

        <div class="item" @click="$router.push('/buy')">
          {{inService ? $t('service.profile.dropdown.top_up') : $t('service.profile.dropdown.buy_service')}}
        </div>

        <div class="item" @click.prevent="logout">
          {{$t('service.profile.dropdown.logout')}}
        </div>
      </div>
    </a><!--/.ui.dropdown -->

    <!-- 升级链接/到期时间 -->
    <span v-if="inService && profile.status !== 'ACTIVE' && profile.status !== 'EARLY_ADOPTER'"
          :aria-label="serviceDueText"
          class="due-time right floated hint--top">
      <i class="clock icon"></i>
      {{serviceDueFromNow}}
      <a href="javascript:" @click="$router.push('/buy')"><i class="ui icon plus squire outline"></i></a>
    </span>

    <a v-if="!inService"
       href="javascript:" class="upgrade right floated"
       @click="$router.push('/buy')" >{{$t('service.profile.get_premium')}}</a>


    <!-- 账号图标 -->
    <template v-if="inService"><!--服务期内-->
    <span v-if="profile.status === 'EARLY_ADOPTER'"
          class="hint--right hint--rounded" :data-hint="$t('service.profile.early_adopter')">
          <i class="rocket icon"></i>
        </span>
    <i v-else class="diamond icon"></i>
    </template>
    <i v-else class="user icon"></i><!--服务期外-->

    <!-- 账号名字 -->
    <span class="account">{{profile.email || guestName}}</span>
  </div><!--/user-->

  <modal ref="supportModal" class="SupportModal basic small" :close-on-action="true">
    <div class="header">
      {{$t('service.profile.support_modal.title')}}
    </div>
    <div class="content">
      <div class="description">
        <p>{{$t('service.profile.support_modal.description')}}</p>
        <p class='email'>{{$t('service.profile.support_modal.email')}}</p>
      </div>
    </div>
    <div class="actions">
      <div class="one fluid ui inverted buttons">
        <div class="ui green basic inverted deny button">
          {{$t('service.profile.common_modal.ok')}}
        </div>
      </div>
    </div>
  </modal>
</div>
</template>

<!--script------------------------------------------------script---------------------------------------------script---->
<script type="text/babel">
import 'semantic-ui-css/components/dropdown.min'
import 'semantic-ui-css/components/dimmer.min'
import 'semantic-ui-css/components/modal.min'
import {openUrl} from '../../utils'
import settings from '../../settings'
import UserMixin from '../../mixins/UserMixin'
import Modal from '../../components/common/Modal.vue'
import User from '../../modules/User.js'

export default {
  components: {Modal},
  mixins: [UserMixin],
  props: {
    profile: {}
  },
  data() {
    return {}
  },
  methods: {
    getMoreApp() {
      setTimeout(() => {
        openUrl(`https://${settings.HOST}`)
      }, 500)
    },

    logout() {
      User.signOut();
      this.$router.replace('/')
    },
  },
  mounted() {
    setTimeout(() => {
      $('.dropdown', this.$el).dropdown({action: 'hide'})
    }, 500);
  }
}
</script>