<!--style-------------------------------------------------style----------------------------------------------style----->
<style lang="less" rel="stylesheet/less">
.RatePanel.rate.content {
  padding: 20px;

  a.close {
    margin: -5px -10px 0 0;
  }
  .header {
    font-size: 14px !important;
  }
  .description {
    font-size: 12px;;
  }
  .buttons {
    margin-top: 10px !important;
  }
}
</style>

<!--template----------------------------------------------template-------------------------------------------template-->
<template>
<div class="RatePanel rate content">
  <!--<a class="close right floated" @click="onDismiss">-->
    <!--<i class="close icon"></i>-->
  <!--</a>-->

  <template v-if="step=='init'">
  <div class="header">
    {{ $t('rate.works.question') }}
  </div>
  <div class="buttons">
    <a class="ui button mini blue" @click="step='yes'">
      {{ $t('rate.works.yes') }}
    </a>
    <a class="ui button mini" @click="step='no'">
      {{ $t('rate.works.no') }}
    </a>
  </div>
  </template>

  <template v-if="step=='yes'">
  <div class="header">
    {{ $t('rate.works_yes.question') }}
  </div>
  <div class="buttons">
    <a class="ui button mini blue" @click="onClickRate">
      {{ $t('rate.works_yes.yes') }}
    </a>
    <a class="ui button mini" @click="onDismiss">
      {{ $t('rate.works_yes.no') }}
    </a>
  </div>
  </template>

  <template v-if="step=='no'">
  <div class="header">
    {{ $t('rate.works_no.question') }}
  </div>
  <div class="buttons">
    <a class="ui button mini blue" @click="onClickFeedback">
      {{ $t('rate.works_no.yes') }}
    </a>
    <a class="ui button mini" @click="onDismiss">
      {{ $t('rate.works_no.no') }}
    </a>
  </div>
  </template>
</div>
</template>

<!--script------------------------------------------------script---------------------------------------------script---->
<script type="text/babel">
import settings from '../../settings.js'
import {openUrl} from '../../utils'

export default {
  data () {
    return {
      step: 'init' // init -> yes/no
    }
  },
  methods: {
    onClickRate() {
      openUrl("https://chrome.google.com/webstore/detail/ojedkepkekklpjcgdfiahladdbopbooh/reviews");
      settings.showRateContent.set('no');
    },
    onDismiss() {
      settings.showRateContent.set('no');
      window.close();
    },
    onClickFeedback() {
      openUrl("https://chrome.google.com/webstore/detail/ojedkepkekklpjcgdfiahladdbopbooh/support");
      settings.showRateContent.set('no');
    }
  }
}
</script>