<!--style-------------------------------------------------style----------------------------------------------style----->
<style lang="css" rel="stylesheet" src="hint.css/hint.css"></style>
<style lang="less" rel="stylesheet/less">
.ServicePage.ui.card {
  width: 320px;
  border: none;
  box-shadow: none;
  overflow-y: hidden;

  .version {
    color: #aaa;
  }

  .title.content {
    .header {
      font-size: 16px;
      font-weight: normal;

      .logo {
        width: 19px;
        margin-right: 5px;
      }
    }
    .Toggle {
      label:before {
        font-size: 12px;
        color: black;
        line-height: 20px;
        content: 'off';
        text-align: right;
        padding-left: 10px;
        padding-right: 10px;
      }
      &.checked {
        label:before {
          color: white;
          content: 'on';
          text-align: left;
        }
      }
    }
  }

  .location.content {
    padding-right: 40px;

    div.refresh {
      float: right;
      margin-right: -30px;
      margin-top: 10px;

      .loading.icon {
        margin-top: 2px;
      }
      > .refresh.icon {
        color: #aaa;
      }
    }
  }

  .register-remind.content {
    a.link {
      text-decoration: underline;
      margin-bottom: 5px;
      &:hover {
        text-decoration: none;
      }
    }
    .ui.button {
      display: block;
      margin-top: 0.5em;
    }
  }
}
</style>

<!--template----------------------------------------------template-------------------------------------------template-->
<template>
<div class="ServicePage ui card dimmable dimmed">
  <div class="title content">
    <div class="header">
      <img class="logo" src="/app/static/img/icon-color-38.png">
      {{$t('product')}}
      <sup class="version">{{version}}</sup>
      <div v-if="inService" class="right floated meta">
        <span class="hint--left hint--rounded"
              :data-hint="$t('service.toggle_tooltip') +' (' + $t(isMac ? 'service.hotkey_mac' : 'service.hotkey_win')  + ')'">
        <ui-checkbox
            type="toggle" fitted :checked.sync="modeOn"
            @change="onModeChange"></ui-checkbox>
        </span>
      </div>
    </div>
  </div>

  <div class="content dimmable dimmed">
    <div v-if="!inService" class="ui simple dimmer">
      <div class="content">
        <div class="center">
          <h2 class="ui inverted header" style="padding: 10px;">
            {{$t('service.not_in_service')}}
          </h2>
        </div>
      </div>
    </div>
    <conflicts-panel
        v-if="conflicts.length>0"
        :conflicts="conflicts"></conflicts-panel>
    <status-panel
        v-else :mode="modeOn?'on':'off'"
        :location="location"></status-panel>
  </div>

  <div v-if="!inService" class="content">
    <button class="ui blue fluid button" @click="$router.push('/buy')">{{$t('service.go_premium')}}</button>
  </div>

  <div v-if="inService" class="location content">
    <div class="refresh">
      <template v-if="modeOn">
      <a v-if="checking==='todo'" @click="onClickCheck">
        <span class="hint--left hint--rounded" :data-hint="$t('service.refresh_tooltip')">
          <i class="refresh icon"></i>
        </span>
      </a>
      <i v-if="checking==='doing'" class="refresh loading icon"></i>
      <i v-if="checking==='done'" class="check green icon"></i>
      </template>
      <template v-else>
      <i class="refresh icon"></i>
      </template>
    </div>
    <location-dropdown
        v-model="location"
        :locations="locations"
        :disabled="!modeOn"
        :in-service="inService"></location-dropdown>
  </div>

  <rate-panel v-if="inService && showRateContent==='yes'"></rate-panel>
  <news-panel v-if="inService && showRateContent==='no' && showNewsAndroid==='yes'"
              @approve="onNewsApprove"
              @deny="onNewsDeny">
  </news-panel>

  <div v-if="isGuest && inService" class="register-remind content">
    <div class="ui yellow small message">
      {{$t('service.register_remind.message')}}
      <a @click="$router.replace('/register')" class="ui small blue button">{{$t('service.register_remind.button')}}</a>
    </div>
  </div><!--为了兼容老用户-->

  <profile-bar :profile="profile"></profile-bar>
</div>
</template>

<!--script------------------------------------------------script---------------------------------------------script---->
<script type="text/babel">
import orderBy from 'lodash/orderBy'
import moment from 'moment'
import ProxyManager from '../../modules/ProxyManager.js'
import ConflictManager from '../../modules/ConflictManager.js'
import WebAPI from '../../modules/WebAPI.js'
import User from '../../modules/User.js'
import settings from '../../settings.js'
import {openUrl} from '../../utils'
import UserMixin from '../../mixins/UserMixin'

import ConflictsPanel from './ConflictsPanel.vue'
import StatusPanel from './StatusPanel.vue'
import LocationDropdown from './LocationDropdown.vue'
import UiCheckbox from './../common/UiCheckbox.vue'
import RatePanel from './RatePanel.vue'
import NewsPanel from './NewsPanel.vue'
import ProfileBar from './ProfileBar.vue'

const debug = require('debug')('ServicePage')

export default {
  components: {
    ConflictsPanel,
    StatusPanel,
    LocationDropdown,
    UiCheckbox,
    RatePanel,
    NewsPanel,
    ProfileBar,
  },
  mixins: [UserMixin],
  data() {
    return {
      isMac: navigator.userAgent.indexOf("Macintosh") > -1,
      conflicts: [],
      modeOn: false,
      location: {},
      locations: [],
      checking: 'todo',
      profile: {},
      version: chrome.runtime.getManifest().version,
      showRateContent: 'wait', // 'yes', 'no', 'wait'
      showNewsAndroid: 'yes', // 'yes', 'no'
      cleanups: [],
      heartBeat: 0,
    }
  },
  computed: {
    price() {
      return User.price()
    },
  },

  watch: {
    location(newLocation, oldLocation) {
      ProxyManager.setProxyId(newLocation.id);
      this.location = this.locations.filter(loc => loc.id === newLocation.id)[0] || this.locations[0];
      User.trackRegionSwitch(oldLocation.code, newLocation.code);
    }
  },
  methods: {
    onModeChange(on) {
      ProxyManager.mode.set(on ? 'on' : 'off');
      User.trackServiceSwitch(!!on);
    },

    onClickCheck() {
      this.checking = 'doing';
      ProxyManager.pullProxyList()
    },

    onConflictsChange(extensions) {
      this.conflicts = extensions
    },

    updateLocationData() {
      let locations = ProxyManager.proxyList.get();
      locations = locations.map(item => {
        return {
          id: item.id,
          code: item.code,
          name: item.desc,
          type: item.tpe,
          speed: ProxyManager.getRegionSpeed(item.id)
        }
      });
      if (!this.inService) {
        locations = orderBy(locations, ['type'], ['asc'])
      }
      this.locations = locations;
      this.location = this.locations.filter(loc => loc.id === ProxyManager.getProxyId())[0] || this.locations[0]
    },

    updateCheckingState(newTesting, oldTesting) {
      if (oldTesting === undefined) {
        if (newTesting) {
          this.checking = 'doing';
        } else {
          this.checking = 'todo';
        }
        return
      }

      if (newTesting !== oldTesting) {
        if (newTesting === false) {
          this.checking = 'done';
          setTimeout(() => {
            this.checking = 'todo';
          }, 3000)
        } else {
          this.checking = 'doing';
        }
      }
    },

    onNewsApprove() {
      setTimeout(() => {
        settings.showNewsAndroid.set('no');
        openUrl(settings.PLAY_STORE_URL)
      }, 500)
    },

    onNewsDeny() {
      settings.showNewsAndroid.set('no');
      window.close();
    },

    onProxySpeedsChange(newValue, oldValue) {
      this.updateLocationData();
      this.updateCheckingState(newValue.testing, (oldValue || {}).testing);
    },

    onProfileChange(newProfile) {
      this.profile = newProfile;
    },
  },

  beforeMount() {
    this.showRateContent = settings.showRateContent.get()

    let pingTimer = setInterval(() => {
      this.heartBeat = Date.now();
    }, 1000)

    this.showNewsAndroid = !!settings.showNewsAndroid.get();

    this.cleanups = [
      settings.showNewsAndroid.watch(x => this.showNewsAndroid = x, true),
      User.profilePV.watch(x => this.profile = x, true),
      ConflictManager.conflicts.watch(this.onConflictsChange, true),
      ProxyManager.proxyList.watch(this.updateLocationData, true),
      ProxyManager.proxySpeeds.watch(this.onProxySpeedsChange, true),
      ProxyManager.mode.watch((mode) => this.modeOn = mode === 'on', true),
      () => clearInterval(pingTimer),
    ]
  },

  mounted() {
    console.log(JSON.stringify(this.profile));
    setTimeout(() => {
//      ga('send', 'pageview', '/crx/popup/service/')
      User.pullProfile()
    }, 1000)
  },

  destroyed() {
    this.cleanups.forEach(f => f());
  },
}
</script>