<!--style-------------------------------------------------style----------------------------------------------style----->
<style lang="less" rel="stylesheet/less">
.StatusPanel {
  height: 150px;

  >div {
    background: white;
  }

  p {
    text-align: center;
    span {
      display: block;
    }
    em {
      margin: 0 5px;
      font-style: normal;
      font-weight: bold;
    }
  }
  .graph {
    height: 96px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;

    img {
      margin-top: 31px;
    }
  }
  .proxy .graph {
    background-image: url(/app/static/img/status-proxy.png);
    background-size: 282px;
  }
  .direct .graph {
    background-image: url(/app/static/img/status-direct.png);
    background-size: 235px;
  }
}
</style>
<style scoped>
/* always present */
.fade-transition {
  transition: all .3s ease;
  height: 150px;
  overflow: hidden;
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.fade-enter, .fade-leave {
  height: 0;
  opacity: 0;
}
</style>

<!--template----------------------------------------------template-------------------------------------------template-->
<template>
<div class="StatusPanel">
  <div v-if="mode === 'on'" class="proxy" transition="fade">
    <p>
      <span>{{ $t('status.visiting_from') }}</span>
      <em>{{location.name}}</em>
    </p>
    <div class="graph">
      <img :src="'/app/static/img/flags/'+location.code+'.png'"/>
    </div>
  </div>

  <div v-else class="direct" transition="fade">
    <p><span>{{ $t('status.off') }}</span><br/></p>
    <div class="graph"></div>
  </div>

</div>
</template>

<!--script------------------------------------------------script---------------------------------------------script---->
<script type="text/babel">

export default {
  props: {
    mode: {
      type: String,
      required: true
    },
    location: {
      type: Object,
      required: true
    }
  },
  data() {
    return {}
  }
}
</script>